[user]
  name = {{ .name }}
  email = {{ .proton }}
  signingkey = 2339AD153EB4F73F

[core]
  pager = delta
  editor = nvim -es

[commit]
  gpgsign = true

[delta]
  navigate = true

[diff]
  colorMoved = default

[fetch]
  prune = true

[init]
  defaultbranch = main

[merge]
  conflictstyle = diff3

[rebase]
  updateRefs = true

[rerere]
  enabled = true

[includeIf "gitdir:~/s/a/"]
  path = ~/.config/git/alwyn.gitconfig

[includeIf "gitdir:~/s/p/"]
  path = ~/.config/git/paymentology.gitconfig

[interactive]
  diffFilter = delta --color-only

