gitLabSnapshotsTokenName=Private-Token
gitLabSnapshotsToken={{ onepasswordRead "op://Private/yduaza6vw57p754etjgcgsfx7m/password" }}
gitLabReleasesTokenName=Private-Token
gitLabReleasesToken={{ onepasswordRead "op://Private/yduaza6vw57p754etjgcgsfx7m/password" }}

